body {
    //background-image: url("imgs/bw2.jpg");
    background-color: #cccccc;
    background-repeat:no-repeat;

}
/*
.testTable{


}

.tableRow{
  height:100%;width:100%;
  position:absolute;

}*/



img:hover{
  border-left:5px gray solid;
  //border-right:5px gray solid;
}
.row {
    background: #ccc;
    //border-top: black solid;
    //border-bottom: black solid;
}
.item {
    float:left;
    background: white;
    width: 20%;
    height: 100%;
    border-left: 1px black solid;
    border-top: 1px black solid;
}
.item:hover {
    background:gray;
    //border-left:5px gray solid;
    //border-right:5px gray solid;
}

.r {
  border-right: 4pt solid white;
}
.b {
  border-bottom: 4pt solid black;
}

.second {
    border:5px solid white
}
.cell {
    border:1px solid green
}

#center {
    border:5px solid red
}

.slowlyAppear {
	-webkit-animation: slowlyAppear 0.5s linear;
	-moz-animation: slowlyAppear 0.5s linear;
	-ms-animation: slowlyAppear 0.5s linear;
	-o-animation: slowlyAppear 0.5s linear;
	animation: slowlyAppear 0.5s linear;
}

@-webkit-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-moz-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-o-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

td {
  padding:0 5px 0 5px;
  text-align:center;
}
